<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expou" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Expo U"
        android:theme="@style/AppTheme"
        android:name=".serverconnect.dao.ParseApplication" >
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            >



        </activity>

        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".menu.search.SearchActivity">

        </activity>

        <activity android:name=".activity.LoginActivity">

        </activity>

        <activity android:name=".menu.notice.NoticeActivity">

        </activity>

        <activity android:name=".menu.setting.SettingActivity">

        </activity>

        <activity android:name=".menu.mybooth.MyBoothActivity">

        </activity>

        <activity android:name=".menu.myinfo.MyInfoActivity">

        </activity>

        <activity android:name=".activity.SignUpActivity">

        </activity>


        <activity android:name=".tab.t4content.ContentDetailActivity">

        </activity>
        <activity android:name=".tab.t2expo.ExpoDetailActivity">

        </activity>
        <activity android:name=".tab.t3booth.BoothDetailActivity">

        </activity>


    </application>

</manifest>
